<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/aboutstyle.css') }}">
</head>
<body>
<h1>Наведи курсор ↓</h1>
<h2>Пара слов о создателе сайта.</h2>
<h2>Привет! Меня зовут Геля, я физик-ядерщик-программист и вообще просто гений. Взломаю тебе петагон или игру на телефоне.
    <br> Расскажу, как построить термоядерный реактор и соберу какую-либо научную приколюху с нуля. И всё это за много деняк! Обращайтесь!
</h2>
</body>
</html>