<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Донатики</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/donatstyle.css') }}">
</head>
<body>
<div class="container">
  <svg viewBox="0 0 1300 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">Скиньте деняк</text>
    </symbol>

    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</div>
</body>
</html>